.weeksContainer {
    width: calc(100% - 1rem);
    height: 100%;
    padding: 1rem 0 2.5rem 0;
    /* display: flex;
    flex-wrap: wrap;
    align-items: flex-start; */
    display: grid;
    grid-template-columns: repeat(52, auto);
    gap: .5rem;
}

.week {
    width: 10px;
    height: 10px;
    outline: 2px solid #54594D;
}

.year {
    background-color: #54594D;
    width: 52fr;
    height: auto;
}

.lived {
    background-color: #54594D;
    
}