/* #root {
  margin: 0 auto;
} */

.app-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

.app-container>aside {
  background: linear-gradient(to left, rgb(84, 89, 77, .7), rgb(76, 81, 70, .7));
  height: 100%;
  width: 300px;
  padding: 1rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}

.app-container>aside>h1 {
  margin: 0;
  font-weight: 300;
  font-size: 96px;
  text-align: center;
  line-height: 1;
}

.app-container>aside>span {
  font-size: 24px;
}

.app-container>aside>p {
  font-size: 20px;
}

.app-container>main {
  width: 100%;
  height: 100%;
}

footer {
  background: linear-gradient(to bottom, #212620, #0A0D0A);
  width: 100%;
  height: auto;
  padding: 5rem 0 5rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

footer>a, footer>span {
  align-self: center;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.links>a {
  color: #848C79;
}